nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  background-color: #0891b2;
  padding: 20px;
  color: white;
  align-items: center;
}

.card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: scale 0.2s ease-in;
  box-shadow: 5px 5px 5px #aaa;
}

.card:hover {
  scale: 1.2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 40px 10px;
}

img {
  max-height: 20vh;
}
